
body {
    background: $color-bg;
    font-family: 'Roboto', sans-serif;
    color: $color-font-primary;
    margin: 0;
}
.main-container {
    padding: 0;
    margin: 0;
    width: 100%;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
}
label {
    cursor: pointer;
}