$color-bg: #F6F6F6;
$color-bg-location: #EAEAEA;
$color-bg-resto:#D2D2D2;
$color-primary: #9356DC;
$color-white: #fff;
$color-badge: #99E2D0;
$color-font-badge: #008766;
$color-font-location: #353535;
$color-font-primary: #000000;
$color-gradient: linear-gradient(193.33deg, #9356DC -11.44%, #FF79DA 123.93%);
$color-bg-heart: transparent ;
$anim-dur: 1.5s;
$anim-delay: calc($anim-dur / 2);